.headerP {
	text-align:center;
	margin-top: 40px;
	color:#ADADAD;
}

.headerH1 {
	text-align:center;
	margin-bottom: 40px;
	color:#ADADAD;
	
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
  padding-top:10px;
}
#social-icons {
  text-align:right;
}
.modal {
  text-align: center;
}
 
@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}
 
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
 
.modal-title {
	text-align:center;
}
.modal-header {
	background-color: #f5f5f5;
}
.modal-body {
	height:150px;
	align:center;
	margin-top:70px;
	margin-right:40px;
	margin-left:40px;
}
.modal-footer{
	text-align:center;
}

#editor
{
    display: none;
    position: absolute;
    z-index:999999;
    outline: none;
    border:none;
}
